.container-1
{
    border: 1px solid royalblue;
    align-items:center;
    text-align:center;
    margin: 0 auto;
    margin-top: 30px;
    width: 75%;
}

.flex-box-1
{
    
    display: flex;
    flex-wrap: wrap;
    margin:10px;
    padding: 10px;
    justify-content: space-around;
    
}

.flex-box-1 img
{
    border: 2px solid goldenrod;
    padding: 20px;
    margin: 10px;
    width: 30%;

    
}